<div id="form">

    <h2 class="title" >Signup</h2>

    <form action="/signup" method="POST">

        <label> First Name:
            <input type="text" name="firstName" placeholder="John" />
        </label>

        <br>
        <br>

        <label> Last Name:
            <input type="text" name="lastName" placeholder="Smith" />
        </label>

        <br>
        <br>

        <label> Email:
            <input type="email" name="email" placeholder="john@bookstore.com" />
        </label>

        <br>
        <br>
        
        <label> Password:
            <input type="password" name="password" placeholder="*********" />
        </label>
        
        <br>
        <br>
        
        <button class="btn" type="submit">Create Account!</button>

        {{#if msg}}

            <p class="error">{{msg}}</p>

        {{/if}}
    
    </form>

</div>