<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="/images/the_bookstore-favicon.ico" type="image/x-icon">
        <title>Book Store</title>

    </head>

    <body>
        <div class="container">
            <div class="navbar">
            <div class="logo">
                <a href="/"><img src="/images/the_bookstore.png" alt="The Book Store logo" width="125px"></a>             
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <img src="/images/shopping-cart.png" alt="Cart Logo" width="25px" height="25px">
            <img src="/images/menu.png" alt="Menu" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
     
        {{{body}}}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Download App for Android and iOS.</p>
                        <div class="app-logo">
                            <img src="/images/play-store.png" alt="Play Store Logo">
                            <img src="/images/app-store.png" alt="Play Store Logo">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="/images/the_bookstore-white2.png" alt="logo">
                        <p>Our purpose is to deliver as many books as possible to the whole world. A world with more culture and knowledge is our goal.</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Us</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instragram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2021 - The Book Store</p>
            </div>
        </div>

        <script>
            const MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight === "0px") {
                    MenuItems.style.maxHeight = "200px"
                } else {
                    MenuItems.style.maxHeight = "0px"
                }
            }
        </script>
        
    </body>

</html>