<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="form-container-stripe">
                    <h1 class="title">Checkout Canceled</h1>
                        <p>Did you forget something?</p>
                        <br>
                        <p>Shop around then come back to pay!</p>
                        <br>
                        <br>
                        <a href="/" class="btn-buy">Return to Shop</a>  
                        <br>
                        <br>
                        <img src="/images/auth.png" height="200px">    
                </div>
            </div>
        </div>
    </div>
</div>

