<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="form-container-stripe">
                    <h1 class="title">Thank you!</h1>
                        <p>We appreciate your purchase!</p>
                        <br>
                        <p>If you have any questions, please email: </p>
                        <br>
                        <a href="mailto:hello@carlosglzn.dev"><u>hello@carlosglzn.dev</u></a>
                        <br>
                        <br>
                        <br>
                        <a href="/" class="btn-buy">Return to Shop</a>  
                        <img src="/images/auth.png" height="200px">    
                </div>
            </div>
        </div>
    </div>
</div>

