<div class="account-page">   
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="form-container-large">

                        <h2 class="title">Welcome!</h2>
                        <br>
                        <p>This is your profile page</p>
                        <br>
                        <h5><u>First Name:</u> {{actualUser.firstName}}</h5>
                        <br>
                        <h5><u>Last Name:</u> {{actualUser.lastName}}</h5>
                        <br>
                        <h5><u>Email:</u> {{actualUser.email}}</h5>
                        <img src="/images/auth.png" height="240px">
                </div>
            </div>
        </div>
    </div>
</div>